@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

$font: "Source Sans Pro", sans-serif;

.logout{
    margin-top:20px;
    width: 40%;
    height: 30px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    background: #606c38;
    font-family: $font;
    cursor: pointer;
}


.dash{
    background-color:#fefae0;
    margin:10px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0 2px 8px 0 #283618 ;
    border: 1px solid #606c38;
    display: flex;
        justify-content: space-around;
        flex-direction: row;
    
    .link{
         
        
        list-style: none;
        margin: 16px 0;
        box-sizing: border-box;
        padding: 10px;
        align-items: center;
        text-decoration: none;
        background-color: #bc6c25;
                    color: white;
                    border-radius: 5px;
         
         &:hover {
                    
                    transform: scale(1.05);
                }
    }
    }
