

@font-face {
  font-family: "Rockybilly";   /*Can be any text*/
  src: local("Rockybilly"),
    url("../fonts/Rockybilly.ttf") format("truetype");
}


*{
    box-sizing:border-box;
}

body{
    margin:0;
}
